body {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 1.45;
  background-color: #031920;
  -webkit-font-smoothing: antialised;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

.main-page--wrapper {
  background: url("./images/fon-up.png") center top no-repeat, url("./images/fon_bot.png") center bottom no-repeat;
}

a {
  color: inherit;
}

p {
  margin-top: 0;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

.container {
  margin: 0px auto;
  width: 1140px;
  position: relative;
}

.header {
  margin-bottom: 106px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 29px 0;
}

.menu {
  display: flex;
  align-items: center;
  flex-basis: 333px;
}

.menu__list {
  width: 333px;
  display: inline-flex;
  justify-content: flex-end;
}

.menu__link {
  font-size: 16px;
  text-decoration: none;
  margin-left: 67px;
}

.menu__item--active .menu__link {
  color: #8F00FF;
}

.contacts {
  font-style: normal;
  text-align: right;
}

.contacts__phone {
  text-decoration: none;
  font-size: 26px;
  line-height: 1;
}

.contacts__workhors {
  color: #98A4A8;
  font-size: 13px;
  line-height: 1;
}

.contacts__workhors:hover {
  color: #fff;
}

.hello {
  position: relative;
  margin: 0px auto;
  margin-bottom: 194px;
}

.hello__title {
  font-size: 60px;
  font-weight: bold;
  line-height: 1.08;
  margin-bottom: 22px;
  width: 650px;
}

.hello__text {
  font-size: 21px;
  line-height: 1.2;
  margin-bottom: 76px;
  margin-left: 3px;
}

.button {
  display: inline-block;
  background: #8F00FF;
  border-radius: 5px;
  padding: 18px 40px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.button:hover {
  background: #741BBA;
}

h2 {
  font-size: 36px;
  font-weight: bold;
}

.new {
  position: relative;
  margin: 0px auto;
  margin-bottom: 125px;
}

.title--new {
  line-height: 1.42;
  margin-bottom: 51px;
  display: flex;
}

.new__img-title {
  height: 41px;
  width: 42px;
  margin-top: 5px;
  margin-left: 11px;
}

.new__list {
  display: flex;
}

.new__card {
  background: #fff;
  min-height: 449px;
  border-radius: 5px;
  margin-right: 28px;
  width: 361px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
}

.new__header {
  height: 143px;
  width: 361px;
}

.new__img {
  width: 100%; 
  height: 100%;
  object-fit: cover;
}

.new__content {
  padding: 35px 20px 20px 20px;
  color: #303030;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
}

.new__title {
  color: #000000;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}

.new__features {
  width: 299px;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
}

.new__feature {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.new__feature-icon {
  width: 26px;
  height: 26px;
  color: #797979;
  margin-right: 10px;
}

.new__feature--text {
  display: inline-block;
  color: #666666;
  font-size: 16px;
  font-weight: 400;
  vertical-align: top;
}

.new__text {
  color: #303030;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.48;
  margin-bottom: 24px;
}

.new__feature--fist-block {
  margin-left: 5px;
}

.button--light {
  color: #8F00FF;
  background: #fff;
  padding: 17px 29px;
  margin-bottom: 0px;
  border: 1px solid #8F00FF;
}

.button--90 {
  padding: 17px 29px;
  margin-bottom: 0px;
}

.button--light:hover {
  color: #fff;
}

h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.3;
}

.lastplay {
  margin: 0px auto;
  margin-bottom: 197px;
}

.lastplay__routes {
  margin-bottom: 46px;
  display: flex;
  justify-content: space-between;
}

.lastplay__rout {
  width: 556px;
  min-height: 399px;
  border-radius: 4px;
  overflow: hidden;
  margin-right: 21px;
}

.lastplay__rout:last-child {
  margin-right: 0;
}

.lastplay__title {
  line-height: 1.42;
  margin-left: -4px;
  margin-bottom: 50px;
}

.lasplay__image::before {
  opacity: 30;
  margin-right: 20px;
}

.lasplay__rout-content {
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: 26px;
  padding-left: 26px;
  padding-right: 60px;
  height: auto;
  margin-top: -144px;
}

.lastplay__data {
  font-size: 14px;
  margin-bottom: 14px;
}

.lastplay__image-title {
  margin-bottom: 7px;
}

.lastplay__text {
  line-height: 1.30;
}

.paginator {
  text-align: center;
}

.paginator__display, .paginator__list {
  display: inline-block;
  vertical-align: middle;
}

.paginator__display {
  margin-right: 25px;
}

.paginator__item {
  display: inline-block;
}

.paginator__link {
  display: block;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: relative;
  font-weight: bold;
  text-decoration: none;
  line-height: 32px;
}

.paginator__link--active {
  background: #8F00FF;
}

.paginator__item:hover {
  background: #8F00FF;
  border-radius: 50%;
}

.about {
 margin-bottom: 53px;
 display: flex;
 justify-content: center;
}

.about__block {
  padding-top: 94px;
}

.about__block:before {
  content: "";
  width: 489px;
  height: 505px;
  background: url("./images/about-us.jpg") center center / cover no-repeat;
  margin-left: -5px;
  border-radius: 5px;
  position: absolute;
  left: 0;
  top: 0;
}

.about__content {
  position: relative;
  width: 785px;
  min-height: 455px;
  padding: 68px 81px;
  background: linear-gradient(71.43deg, #8F00FF 0%, #148CFF 100%), #212121;
  border-radius: 5px;
}

.about__title {
  margin-bottom: 37px;
}

.about__text {
  line-height: 1.7;
  margin-bottom: 57px;
  margin-right: 121px;
  min-height: 20px;
}

.about__text p {
  margin-bottom: 20px;
}

.about__text p:last-child {
  margin-bottom: 0;
}

.button--blue {
  height: 55px;
  border: 1px solid #FFFFFF;
  background: rgba(255, 255, 255, 0);
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 44px 0;
}

.footer-container--content {
  border-top: 4px solid rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
}

.footer__menu .menu__list {
  width: 355px;
}

.socials {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 46px;
}

.socials__item {
  width: 36px;
  height: 36px;
  margin-right: 10px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  text-decoration: none;
  height: 36px;
  width: 36px;
  background: center center no-repeat;
}

.socials__item--icon--telegramm .socials__link:hover {
  background: url("./images/telegramm-hover.png");
}

.socials__item--icon--vk .socials__link:hover {
  background-image: url("./images/vk-hover.png");
}

.socials__item--icon--fb .socials__link:hover {
  background-image: url("./images/fb-hover.png");
}

.socials__item--icon--insta .socials__link:hover {
  background-image: url("./images/insta-hover.png");
}

.contacts {
  margin-right: 4px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
}

.contacts__desc {
  font-size: 11px;
  color: #9A9A9A;
}